name: Build and release binaries

on:
  release:
    types: [ created ]

jobs:
  releases-matrix:
    name: Build and release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux, windows, darwin ]
        goarch: [ amd64, arm64 ]
        go-version: [ '1.25' ]
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: |
          ~/.cache/go-build
          ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build and upload binaries
      uses: wangyoucao577/go-release-action@279495102627de7960cbc33434ab01a12bae144b # v1.55
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: go.mod
        binary_name: netcupscp-exporter
        pre_command: export CGO_ENABLED=0
        asset_name: "netcupscp-exporter-${{ matrix.goos }}-${{ matrix.goarch }}"
        extra_files: LICENSE.txt README.md
        md5sum: false
        overwrite: true
        build_command: sh build.sh -v "${{ github.ref_name }}"
